.post {
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-4);
    padding-bottom: 2rem;
    transition: var(--transition);
    cursor: default;
  }
  
  .post:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  }
  
  .post_thumbnail {
    border-radius: var(--radius-3);
    overflow: hidden;
    height: 16rem;
  }
  
  .post_content {
    margin-top: 1.5rem;
  }
  
  .post_content h3 {
    margin: 1rem 0 0.6rem;
  }
  
  .post_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
  }
  
  .category_link {
    background: var(--color-primary); /* Define este color en tus variables CSS */
    color: var(--color-white);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-decoration: none;
  }
  