
.posts {
  padding: 2rem;
}

.postContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 4rem;
}


@media (max-width: 1299px) {
  .postContainer {
    grid-template-columns: repeat(2, 1fr); 
  }
}


@media (max-width: 768px) {
  .postContainer {
    grid-template-columns: 1fr; 
  }
}

.center {
  text-align: center;
  padding-top: 5rem;
  margin: auto;
  display: block;
  width: 100%;
}

