:root {
    --color-white: #fff;
    --color-background: #f0f0f0;
    --color-primary: #007bff;
    --radius-3: 0.3rem;
    --radius-4: 0.4rem;
    --transition: all 0.3s ease;
    --form-width: 90%;
}

.postDetail {
    width: 100%;
    background: var(--color-background);
    padding: 1rem;
}

.container {
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    cursor: default;
    padding-bottom: 2rem;
    overflow: hidden; /* Asegúrate de que el contenido no se salga del contenedor */
}

.container:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.postDetailHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.postDetailButtons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.postDetailThumbnail {
    margin: 1rem 0;
    max-height: 16rem;
    overflow: hidden;
    border-radius: var(--radius-3);
    position: relative; /* Añadido para mantener la proporción de la imagen */
}

.postDetailThumbnail img {
    width: 100%;
    height: auto;
    display: block; /* Asegúrate de que la imagen no tenga márgenes */
}

.postTitle {
    font-size: 1.5rem;
    margin: 1rem 0 0.6rem;
}

.postDescription {
    font-size: 1rem;
    margin-top: 1.5rem;
}

.btnPrimary {
    background: var(--color-primary);
    color: var(--color-white);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
    .postDetail {
        width: var(--form-width);
        margin: 0 auto;
        padding: 5rem; /* Aumentado el padding en desktop */
    }

    .container {
        margin-top: 2rem; /* Mayor margen superior en pantallas más grandes */
        padding: 2rem; /* Aumentado el padding en desktop */
        /* Puedes ajustar el padding en esta línea en el futuro */
    }

    .postTitle {
        font-size: 2rem;
    }

    .postDescription {
        font-size: 1.2rem;
    }

    .postDetailThumbnail {
        max-height: none; /* Permitir que la imagen crezca en pantallas más grandes */
    }

    .postDetailThumbnail img {
        height: auto; /* Mantener la proporción de la imagen */
    }
}


@media (min-width: 1367px) {
    .postDetail {
        width: var(--form-width);
        margin: 0 auto;
        padding: 11rem; /* Aumentado el padding en desktop */
    }

    .container {
        margin-top: 2rem; /* Mayor margen superior en pantallas más grandes */
        padding: 2rem; /* Aumentado el padding en desktop */
        /* Puedes ajustar el padding en esta línea en el futuro */
    }

    .postTitle {
        font-size: 2rem;
    }

    .postDescription {
        font-size: 1.2rem;
    }

    .postDetailThumbnail {
        max-height: none; /* Permitir que la imagen crezca en pantallas más grandes */
    }

    .postDetailThumbnail img {
        height: auto; /* Mantener la proporción de la imagen */
    }
}