nav{
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background: var(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 4px solid var(--color-bg);
  backdrop-filter: blur(20px);
}

.navContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.navLogo{
  width: 7rem;
  display: block;
}


.navMenu{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navToggleBtn{
  display: none;
}

.container{
  width: var(--container-width-lg);
  margin-inline: auto;
}